body {
    background-image: url('../image/panorama.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Segoe UI;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.DisplayNone {
    display: none !important;
}

.AppExample {
    width: 960px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 11px;
    overflow: hidden;
    border: 1.50px rgba(117, 117, 117, 0.40) solid;
    backdrop-filter: blur(100px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex
}

.TitleBar {
    width: 960px;
    height: 51px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(207, 221, 237, 0.80) 0%, rgba(215, 218, 223, 0.80) 100%);
    justify-content: space-between;
    align-items: center;
    display: inline-flex
}

.SyncPlayAutomator {
    margin-left: 10px;
    text-align: right;
    font-size: 18px;
    font-family: Segoe UI;
    font-weight: 600;
    word-wrap: break-word
}

.AppArea {
    width: 960px;
    height: 610px;
    justify-content: flex-end;
    align-items: flex-end;
    display: inline-flex
}

.Menu {
    width: 320px;
    height: 540px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.MenuItem {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

.SelectedMenuItem {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 600
}

.ThresholdLogo {
    width: 20px;
    height: 17.35px;
}

.DeviceInfoLogo {
    width: 20px;
    height: 20px;
}

.AnalyticsLogo {
    width: 20px;
    height: 20px;
}

.ThresholdValue,
.DeviceInfo,
.AnalyticsInfo {
    text-align: right;
    font-size: 18px;
    font-family: Segoe UI;
    word-wrap: break-word;
}

.Workarea {
    width: 790px;
    height: 487px;
    padding: 50px;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    border: 1px #F0F0F0 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    /* display: inline-flex */
}

.DevicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.Devices {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.08) solid;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    display: inline-flex;
}

.left-wrap {
    width: 186px;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 600;
    word-wrap: break-word
}

.right-wrap {
    width: 264px;
    height: 27px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex
}

.Cms {
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    word-wrap: break-word
}

.EditLogo {
    width: 18.41px;
    height: 18.41px;
}

.DownArrowLogo {
    width: 10px;
    height: 5px;
}

.MuteUnmute-Dropdown {
    width: 264px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.05) solid;
    justify-content: space-between;
    align-items: center;
    /* display: flex */
}

.OpenMuteUnmute-Dropdown {
    height: 60px;
    align-items: revert;
}

.MuteUnmute {
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    word-wrap: break-word
}

.DeviceStatus {
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 400;
    word-wrap: break-word
}

.DeviceStatus-First {
    display: flex;
}

input[type=text] {
    width: 185px;
    border: 1.5px rgba(117, 117, 117, 0.40) solid;
    border-radius: 4px;
    padding: 8px 10px;
}

.Xtravu-Img {
    position: absolute;
    bottom: 35px;
    left: 40px;
}

.CopyRightDiv {
    font-size: 10px;
    opacity: .6;
    width: 230px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}

#audio-upload {
    height: 80px;
}










/* old css */
table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

#selectOption,
.displayTable {
    margin-top: 20px;
}